body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
}
:root {
  --section-color: #2f303a;
}
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header {
  background-color: #ffffff;
  --color-text-header: #212121;
  --color-text-contact: #757575;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-head {
  color: #000000;
}
.header-nav {
  margin-left: 93px;
}
.header-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: flex;
}
.header-nav-list :hover,
.header-nav-list :focus {
  color: #2196f3;
}
.header-nav-list :not(:last-child) {
  margin-right: 50px;
}
.header-nav-list-st {
  color: var(--color-text-header);
}
.header-nav-list-port {
  color: var(--color-text-header);
}
.header-nav-list-cont {
  color: var(--color-text-header);
}

.header-contaсt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin-left: auto;
}
.header-contaсt :hover,
.header-contaсt :focus {
  color: #2196f3;
}
.header-contaсt-mail {
  color: var(--color-text-contact);
}
.header-contaсt-tel {
  color: var(--color-text-contact);
  margin-left: 50px;
}
.main-section-header {
  background-color: var(--section-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-section-header-motto {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-section-header-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}
.soft-skils-about {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.soft-skils {
  display: flex;
}
.soft-skils-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.soft-skils-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.hard-skils {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.hard-skils-photo {
  display: flex;
  justify-content: space-between;
}
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-list {
  display: flex;
  justify-content: space-between;
}
.our-team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-paragraph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.our-team-product-desinger {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team-frontend {
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-marketing {
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-uidesigner {
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  background: var(--section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-head {
  color: #ffffff;
}
.footer-contakts-list :hover,
.footer-contakts-list :focus {
  color: #2196f3;
}
.footer-contakts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contakts-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakts-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
